node_modules/
coverage/
ci/
cypress/report.json
cypress/screenshots/actual
cypress/videos/
dist/
.idea/
.DS_Store
# until we can figure out how to install the mockery executable on circleci, leave this commented out
#**/mocks/*.*
__debug_bin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# ignore all provisioning files except for e2e placeholders.
provisioning/datasources/*
!provisioning/datasources/*.e2e.yaml
