node_modules/
coverage/
ci/
cypress/report.json
cypress/screenshots/actual
cypress/videos/
dist/
.idea/

# until we can figure out how to install the mockery executable on circleci, leave this commented out
#**/mocks/*.*
